{% extends "base.html" %}

{% block content %}
  <h1>Todos List App</h1>
  <p>Welcome to your tasks list,  <strong>{{ app_user.username }}</strong>!</p>

  <div class="ml-3">
      <h4>
        Tasks 
        <a class="btn btn-primary" href="{% url 'todos:task-create' %}">
          Create
        </a>
      </h4>

      {% for task in tasks_list %}
          <hr>
          <p><strong>Description:</strong> {{ task.content }}</p>
          <p><strong>Created:</strong> {{ task.created_at }}</p>
          <p><strong>Deadline:</strong> {{ task.deadline }}</p>
        
          {% if task.is_completed %}
              <a href="{% url 'todos:task-toggle-status' pk=task.id %}" class="btn btn-warning link-to-page">
                Undo
              </a>
          {% else %}
              <a href="{% url 'todos:task-toggle-status' pk=task.id %}" class="btn btn-success link-to-page">
                Complete
              </a>
          {% endif %}
        
          <p>
            <a href="{% url 'todos:task-update' pk=task.id %}" class="btn btn-secondary link-to-page">
              Update
            </a>
  
            <a href="{% url 'todos:task-delete' pk=task.id %}" class="btn btn-danger link-to-page">
              Delete
            </a>
          </p>
      {% empty %}
        <p>No tasks!</p>
      {% endfor %}
    </div>
{% endblock %}
